@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@400;600&display=swap');

.article-list {
    width: 940px;
    margin: 26px 0;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    font-family: Inter;
    display: grid;
    background-color: white;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    grid-template-columns: minmax(400px, auto) auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-between;
    grid-template-areas:
        "article avatar"
        "tag avatar"
        "description ."
        "body body";
    padding: 15px 19px;
}

.card.md {
    margin-top: 22px;
}

.article {
    grid-area: article;
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        font-weight: 500;
        color: #1890ff;
    }

    a:hover {
        text-decoration: underline;
    }
}

.avatar {
    grid-area: avatar;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: auto 10px 50px;
    grid-template-areas:
        "about photo"
        "about photo"
        "btns btns";
    gap: 10px;
}

.about {
    grid-area: about;
    line-height: 28px;
    font-size: 18px;
    text-align: end;

    p:last-child {
        font-size: 12px;
        line-height: 22px;
        color: aqua;
        color: var(--text-color-secondary, rgba(0, 0, 0, 0.50));

    }
}

.photo {
    grid-area: photo;
    width: 46px;
    height: 46px;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

.btns {
    grid-area: btns;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    .btn {
        background-color: transparent;
        width: 80px;

        &.delete {
            color: #F5222D;
            border-color: #F5222D;
        }
        &.delete:hover {
            background-color: #ff4d4f !important;
        }
        &.edit {
            color: #1890FF;
            border-color: #1890FF;
        }
        &.edit:hover {
            background-color: #1677ff;
        }
    }
}

.tag {
    grid-area: tag;
}

.description {
    grid-area: description;
    line-height: 22px;
}

.description.md {
    color: grey;
    font-size: 12px;
}

.body {
    grid-area: body;
    line-height: 22px;
}

.like {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;

    button {
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border: none;
        vertical-align: bottom;
    }
}