@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap');

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    input {
        margin-top: 3px;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid var(--grey-grey-5, #D9D9D9);
        background: var(--grey-grey-1, #FFF);
        height: 40px;
        width: 100%;
        outline: none;
    }

    input.error {
        border-color: #F5222D;
    }

    .devider {
        margin: 0;
        margin-top: 5px;
    }

    input.radio {
        width: 26px;
        display: block;
    }
}

.title {
    font-weight: 500;
}

.bottom-link {
    margin-top: -20px;
    font-size: 12px;
    line-height: 20px;
    color: var(--grey-grey-7, #8C8C8C);
    text-align: center;
}