@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap');

.form {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .devider {
        margin: 0;
    }
}

.bottom-link {
    margin-top: -20px;
    font-size: 12px;
    line-height: 20px;
    color: var(--grey-grey-7, #8C8C8C);
    text-align: center;
}